@use "../base/typographys";

$font-titre: 'Baloo';
$font-autres: 'Coming';

$color-primary: #c9aa8e;
$color-secondary: #485884;
$color-accent: #9cbeaa;


$color-white: #Fafdff;
$color-black: #080606;

$color-text-white: white;
$color-text-black: black;

$color-overlay: rgba(0, 0, 0, 0.5);