@use "../base/typographys";

$font-titre: 'Baloo', sans-serif;
$font-autres: 'Coming', sans-serif;

$color-primary: #c9aa8e;
$color-secondary: #485884;
$color-accent: #9cbeaa;


$color-white: #Fafdff;
$color-black: #080606;



$color-overlay: rgba(0, 0, 0, 0.5);