{% extends 'base.html.twig' %}

{% block title %}{% endblock %}
{% block body %}
	<section class="user-contenair">
		<div class="user-content">
			<div class="titre-content">
				<div class="titre">
					<h1>{{ app.user.pseudo }}</h1>
				</div>

			</div>
		</div>
	</section>


{% endblock %}
