@use "../abstracts/variables" as v;

* {
    box-sizing: border-box;
}

html {
    margin: 0;
    padding: 0;
}

body {
    position: relative;
    margin: 0 auto;
    font-family: v.$font-autres;
    color: v.$color-black;
}

main {
    padding-top: var(--navbar-height);
    width: 100%;
    background-image: url("../../../public/assets/images/game/Terrain/WaterSky.png");
    background-repeat: repeat-y;
    background-size: contain;
    background-position: 50% 0;
    background-color: v.$color-water;
}

section {
    margin-top: 6rem;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

ul {
    list-style: none;
    padding-left: 0;
}

a {
    text-decoration: none;
    color: v.$color-black;
}