@font-face {
    font-family: 'Baloo';
    src: url(../../../public/assets/fonts/Baloo2-Bold.ttf);
}

@font-face {
    font-family: 'Coming';
    src: url(../../../public/assets/fonts/ComingSoon-Regular.ttf);
}