@use "sass:color";
@use "../abstracts/variables" as v;

@keyframes shake {
    0% { transform: translateX(0); }
    33% { transform: translateX(-6px); }
    66% { transform: translateX(6px); }
    100% { transform: translateX(0);}
}

@mixin form-basique($width: 70%, $height: 650px) {
    position: relative;
    width: $width;
    max-width: 1200px;
    max-height: $height;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    color: v.$color-black;
    border-radius: 0.5rem;
    background-image: url("../../../public/assets/images/game/Terrain/WaterSky.png");
    box-shadow: 0 6px 22px rgba(255, 255, 255, 0.3);
}

@mixin warming() {
    .warming {
        width: 100%;
        .alert {
            background-color: color.adjust(v.$color-secondary, $lightness: -10%);
            padding: 1rem;
            border-radius: 6px 6px 0 0;
            border: solid 3px v.$color-primary;
            text-align: center;
        }

        .mb-3 {
            font-size: 0.95rem;
            text-align: center;
            a {
                color: color.adjust(v.$color-secondary, $lightness: +20%);
                text-decoration: underline;
            }
        }
        .mb-3:hover {
            color: v.$color-white;
        }
    }
}

@mixin mix($width: 50%, $height: 650px) {
    .mix {
        position: relative;
        width: $width;
        overflow: hidden;

        figure {
            width: 100%;
            margin: 0;
            transform: scale(0.6);
            img {
                min-height: $height;
                max-height: $height;
            }
        }

        .headline {
            position: absolute;
            top: 8%;
            left: 50%;
            transform: translateX(-50%);
            text-align: center;

            background: rgba(255, 255, 255, 0.1);
            backdrop-filter: blur(10px);
            -webkit-backdrop-filter: blur(8px);
            border: 1px solid rgba(255, 255, 255, 0.2);
            padding: 1rem;
            border-radius: 1rem;
            color: white;
            width: 70%;

            mask-image: linear-gradient(to right, transparent, black 20%, black 80%, transparent);
            mask-repeat: no-repeat;
            mask-size: 100% 100%;
            -webkit-mask-repeat: no-repeat;
            -webkit-mask-size: 100% 100%;

            .text-headline {
                color: v.$color-primary;
                font-size: 1.6rem;
                text-transform: uppercase;
                letter-spacing: 0.4rem;
            }
            .text-subheadline {
                color: v.$color-secondary;
                font-size: 0.8rem;
                text-transform: uppercase;
                letter-spacing: 0.14rem;
                text-shadow: 2px 2px 2px v.$color-accent;
            }
        }
    }
}

@mixin input-label-effect() {
    span {
        width: 100%;
        display: block;
        margin-bottom: 1.15rem;
        position: relative;
        text-shadow: 1px 1px 0 black, -1px -1px 0 black, 1px -1px 0 black, -1px  1px 0 black;

        label {
            width: 100%;
            height: 64px;
            padding-top: 12px;
            color: v.$color-primary;
            font-family: v.$font-titre;
            font-size: 0.75rem;
            letter-spacing: .08rem;
            text-transform: uppercase;
            display: inline-block;
            transform: translateY(1.1rem);
            background-image: url("../../../public/assets/images/game/UI/Ribbons/Ribbon_Blue_3Slides.png");
            background-size: calc(100% + 10px) 100%;
            background-position: -5px;
            text-align: center;
            transition: 0.15s ease;
        }

        .input-reset-inline {
            display: flex;
            align-items: center;
            gap: 0.5rem;

            input {
                flex: 1 1 auto;
            }
        }

        input {
            flex: 1;
            width: 100%;
            text-align: center;
            padding-top: 3px;
            border: none;
            border-bottom: 2px solid v.$color-accent;
            font-family: v.$font-titre;
            color: v.$color-accent;
            text-shadow: 1px 1px 0 black, -1px -1px 0 black, 1px -1px 0 black, -1px  1px 0 black;
            background-color: transparent;
            background-image: url("../../../public/assets/images/game/UI/Banners/Carved_3Slides.png");
            background-size: contain;
            background-repeat: round;
            outline: none;
            resize: none;
        }
        input:focus-visible {
            outline: none;
            border-bottom-color: color.adjust(v.$color-primary, $lightness: 20%);
        }
    }

    input[type="file"] {
        &::-webkit-file-upload-button {
            background-color: transparent;
            color: v.$color-accent;
            border: none;
            padding: 0.3rem 0.5rem;
            cursor: pointer;
            transition: all 0.2s ease-in-out;
        }

        &::-webkit-file-upload-button:hover {
            background-color: v.$color-accent;
            color: v.$color-white;
        }

        &::file-selector-button {
            padding: 0.3rem 0.5rem;
            background-color: transparent;
            color: v.$color-accent;
            border: 1px solid v.$color-accent;
            border-radius: 4px;
            cursor: pointer;
            transition: all 0.2s ease-in-out;
        }

        &::file-selector-button:hover {
            background-color: v.$color-accent;
            color: v.$color-white;
        }
    }

    input[type=submit] {
        margin: 0 auto 0;
        background-color: transparent;
        background-image: url("../../../public/assets/images/game/UI/Buttons/Button_Disable_3Slides.png");
        background-size: contain;
        background-repeat: round;
        color: v.$color-white;
        border: none;
        padding: 10px 2rem 14px;
        font-family: v.$font-titre;
        cursor: pointer;
        transition: background 0.3s;
        text-shadow: 1px 1px 0 black, -1px -1px 0 black, 1px -1px 0 black, -1px  1px 0 black;
    }
    input[type=submit]:hover,
    input[type=submit]:focus {
        background-image: url("../../../public/assets/images/game/UI/Buttons/Button_Hover_3Slides.png");
        background-size: contain;
        background-repeat: round;
    }

    .inputs--filled label {
        transform: translate(0, 0);
    }

    .inputs--invalid input,
    .inputs--invalid select,
    .inputs--invalid textarea {
        border-bottom: 4px solid v.$color-error;
        color: v.$color-error;
        animation: shake 0.3s both ease-in-out;
    }

    .inputs--invalid label {
        background-image: url("../../../public/assets/images/game/UI/Ribbons/Ribbon_Red_3Slides.png");
    }
}

#form {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 100vh;
    background: v.$color-primary;
    padding: 1rem;

    .form {
        @include form-basique();

        @include warming();

        .form-content {
            position: relative;
            width: 100%;
            display: flex;

            @include mix();

            .all-form {
                overflow: hidden;
                padding: 5%;
                position: relative;
                width: 50%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                background-image: url("../../../public/assets/images/game/UI/Buttons/Button_Disable_9Slides.png");
                background-size: contain;
                background-repeat: round;

                @include input-label-effect();

                .form-group {
                    .form-error {
                        text-align: center;
                        color: v.$color-error;
                        font-family: v.$font-titre;

                        ul {
                            margin-bottom: 0;
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width:1000px) {
    #form {
        .form {
            .mix {
                .headline {
                    width: 100%;
                }
            }
        }
    }
}

@media screen and (max-width:768px) {
    #form {
        .form {
            flex-direction: column;
            max-height: 750px;

            .form-content {
                .mix {
                    width: 100%;
                }

                .all-form {
                    padding: 5%;
                    width: 100%;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;

                    span {
                        text-align: center;

                        input {
                            text-align: center;
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width:360px) {
    #form {
        padding: 0;
        .form {
            width: 100%;
        }
    }
}