@use "../abstracts/variables" as v;

$target: '../../../public/assets/images/game/';

@mixin ribbon($bg-image: "#{$target}UI/Ribbons/Ribbon_Yellow_3Slides.png") {
    width: 100%;
    display: flex;
    justify-content: center;
    h2 {
        width: auto;
        height: 100%;
        color: v.$color-primary;
        margin: 0;
        padding: 12px 20% 35px;
        text-align: center;
        text-shadow: 2px 2px 0 black, -2px -2px 0 black, 2px -2px 0 black, -2px  2px 0 black;
        background-image: url($bg-image);
        background-repeat: no-repeat;
        background-size: calc(100% + 10px) 100%;
        background-position: -5px;
    }
}

@mixin ribbon2($bg-image: "#{$target}UI/Ribbons/Ribbon_Yellow_3Slides.png") {
    display: flex;
    justify-content: center;
    label {
        width: auto;
        height: 100%;
        color: v.$color-primary;
        margin-bottom: 5px;
        padding: 3px 20% 10px;
        text-align: center;
        text-shadow: 1px 1px 0 black, -1px -1px 0 black, 1px -1px 0 black, -1px  1px 0 black;
        background-image: url($bg-image);
        background-repeat: no-repeat;
        background-size: calc(100% + 4px) 100%;
        background-position: -2px;
    }
}

@mixin ribbon3($bg-image: "#{$target}UI/Ribbons/Ribbon_Yellow_3Slides.png") {
    display: flex;
    justify-content: center;
    span {
        font-weight: bold;
        width: auto;
        height: 100%;
        color: v.$color-error;
        margin-bottom: 1rem;
        padding: 3px 20% 10px;
        text-align: center;
        text-shadow: 1px 1px 0 black, -1px -1px 0 black, 1px -1px 0 black, -1px  1px 0 black;
        background-image: url($bg-image);
        background-repeat: no-repeat;
        background-size: calc(100% + 4px) 100%;
        background-position: -2px;
    }
}

#battle {
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    .battle {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 5rem;
        .team-container {
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 2rem;
            .title-area {
                width: 95%;
                display: flex;
                justify-content: space-around;
                align-items: center;
            }
            .title {
                @include ribbon("#{$target}UI/Ribbons/Ribbon_Red_3Slides.png");
            }
            .battleground {
                width: 100%;
                display: flex;
                justify-content: space-between;
                align-items: center;
                .vs {
                    width: 32%;
                }
                .team-card {
                    width: 32%;
                    margin-bottom: 1rem;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    align-items: center;
                    flex-wrap: wrap;

                    #unitOne, #unitTwo, #unitThree {
                        width: 32%;
                        height: 100%;
                        display: flex;
                        flex-direction: column;
                        justify-content: space-between;
                        align-items: center;

                        #unitOneForm, #unitTwoForm, #unitThreeForm {
                            width: 80%;
                            display: flex;
                            flex-direction: column;
                            justify-content: space-between;
                            align-items: center;
                            padding: 2rem;
                            background-image: url("#{$target}UI/Buttons/Button_Disable_9Slides.png");
                            background-size: 100% 100%;
                            background-position: left top;
                            background-repeat: repeat;
                            @include ribbon3();
                            @include ribbon2("#{$target}UI/Ribbons/Ribbon_Blue_3Slides.png");

                            #unitOneType, #unitTwoType, #unitThreeType, #unitOneColor, #unitTwoColor, #unitThreeColor {
                                margin-bottom: 1rem;
                                background: transparent;
                                border: transparent;
                                border-top: 3px solid v.$color-accent;
                                border-bottom: 3px solid v.$color-accent;
                                text-align: center;
                            }
                        }

                        #unitOnePreview, #unitTwoPreview, #unitThreePreview {
                            .unit-card-battle {
                                width: 100%;
                                height: 100%;
                                display: flex;
                                justify-content: space-between;
                                align-items: center;

                                .preview-box {
                                    background-image: url("#{$target}Terrain/tilemap.png");
                                    background-size: 100% 100%;
                                }

                                .unit-content {
                                    height: 320px;
                                    padding: 2% 5%;
                                    align-items: center;
                                    font-weight: bold;

                                    background-image: url("#{$target}UI/Buttons/Button_Disable_9Slides.png");
                                    background-size: cover;
                                    background-repeat: round;

                                    .unit-stats {
                                        display: flex;
                                        flex-direction: column;
                                        justify-content: space-between;
                                        align-items: center;
                                        color: v.$color-primary;
                                        text-align: center;
                                        text-shadow: 1px 1px 0 black, -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black;

                                        li {
                                            display: flex;
                                            flex-direction: column;
                                            justify-content: space-between;
                                            align-items: center;
                                            gap: 4px;
                                            padding: 10px 15px;
                                            background-image: url("#{$target}UI/Banners/Carved_Regular.png");
                                            background-size: calc(100% + 4px) calc(100% + 4px);
                                            background-position: -2px;
                                            background-repeat: no-repeat;
                                        }

                                        .fa-heart {
                                            color: #ff4d4d;
                                        }

                                        .fa-bolt {
                                            color: #ffd600;
                                        }

                                        .fa-gavel {
                                            color: #d84315;
                                        }

                                        .fa-droplet {
                                            color: #42a5f5;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

@media screen and (min-width:1991px) {
    #battle {
        .battle {
            .island-title {
                width: 50%;
            }
            .team-container {
                .team-owner {
                   width: 50%;
                }
                .team-card {
                    #unitOne, #unitTwo, #unitThree {
                        #unitOneForm, #unitTwoForm, #unitThreeForm {
                            width: 65%;
                        }
                        #unitOnePreview, #unitTwoPreview, #unitThreePreview {
                            .unit-card {
                                .unit-content {

                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width:1215px) {
    #battle {
        .battle {
            .island-title {

            }
            .team-container {
                .team-owner {

                }
                .team-card {
                    justify-content: center;
                    gap: 2.5rem;

                    .islander {
                        min-height: 935px;
                        max-height: 935px;
                    }
                    .not-islander {
                        min-height: 686px;
                        max-height: 686px;
                    }

                    #unitOne, #unitTwo, #unitThree {
                        width: 45%;
                        min-width: 45%;

                        #unitOneForm, #unitTwoForm, #unitThreeForm {

                        }
                        #unitOnePreview, #unitTwoPreview, #unitThreePreview {
                            .unit-card-battle {
                                .unit-content {
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width:768px) {
    #battle {
        .battle {
            .island-title {

            }
            .team-container {
                .team-owner {

                }
                .team-card {
                    justify-content: center;
                    gap: 2.5rem;
                    #unitOne, #unitTwo, #unitThree {
                        width: 90%;
                        #unitOneForm, #unitTwoForm, #unitThreeForm {
                            width: auto;
                        }
                    }
                }
            }
        }
    }
}