@use "../abstracts/variables" as v;

$target: '../../../public/assets/images/game/';

@mixin ribbon($bg-image: "#{$target}UI/Ribbons/Ribbon_Yellow_3Slides.png") {
    width: 100%;
    display: flex;
    justify-content: center;
    h2 {
        width: auto;
        height: 100%;
        color: v.$color-primary;
        margin: 0;
        padding: 12px 20% 35px;
        text-align: center;
        text-shadow: 2px 2px 0 black, -2px -2px 0 black, 2px -2px 0 black, -2px  2px 0 black;
        background-image: url($bg-image);
        background-repeat: no-repeat;
        background-size: calc(100% + 10px) 100%;
        background-position: -5px;
    }
}

#island {
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    .island {
        width: 90%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 5rem;
        .team-container {
            width: 90%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 2rem;
            .team-owner {
                @include ribbon("#{$target}UI/Ribbons/Ribbon_Red_3Slides.png");
            }
            .team-card {
                width: 100%;
                display: flex;
                justify-content: space-between;
                align-items: center;

                #unitOne, #unitTwo, #unitThree {
                    width: 100%;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    align-items: center;

                    #unitOneForm, #unitTwoForm, #unitThreeForm {
                      display: flex;
                      flex-direction: column;
                      justify-content: space-between;
                      align-items: center;
                      padding: 2rem;
                      background-image: url("#{$target}UI/Buttons/Button_Disable_9Slides.png");
                      background-size: 100% 100%;
                      background-position: left top;
                      background-repeat: repeat;

                      #unitOneType, #unitTwoType, #unitThreeType {
                        margin-bottom: 1rem;
                      }
                    }

                    #unitOnePreview, #unitTwoPreview, #unitThreePreview {
                        .unit-card {
                            display: flex;
                            flex-direction: column;
                            justify-content: space-between;
                            align-items: center;
                        }
                    }
                }
            }
        }
    }
}

@media screen and (min-width:1991px) {
    #island {
        .island {
            .island-title {
                width: 50%;
            }
            .team-container {
                .team-owner {
                   width: 50%;
                }
            }
        }
    }
}