{% extends 'base.html.twig' %}

{% block title %}
    {% if app.user.id == team.user.id%}
        Mon île
    {% else %}
        Île de {{ user.pseudo }}
    {% endif %}
{% endblock %}

{% block body %}
    <section id="island">
        <div class="island">
            <div class="island-title">
                {% if app.user.id == team.user.id%}
                    <h2>Mon île</h2>
                {% else %}
                    <h2>Île de {{ user.pseudo }}</h2>
                {% endif %}
            </div>
            <div class="team-container">
                <div class="hub-team">
                    {% if app.user.id == team.user.id%}
                        <h2>Mon équipe</h2>
                    {% else %}
                        <h2>Équipe de {{ user.pseudo }}</h2>
                    {% endif %}
                </div>
            </div>
        </div>
    </section>
{% endblock %}
